
//----------------Mixins  --  &  --    Extends  --------------------------------


//-------------------------Media Query Mixin--------------------------------

@mixin mq($break){

	@if $break == "medium" {
		@media (min-width: $brkpoint-md + 1){
			@content;
		}}
	@else if $break == "large" {
		@media (min-width:  $brkpoint-lg){
			@content;
		}
	}

}


%typo{
	
	line-height: (27px / 18px);
	font-weight:$font-weight--medium;
	
	color: $grey;

}