
//------------------------Font-Weights-------------------------

$font-weight--light  : 300;
$font-weight--medium : 400;

//--------------------Base-Colors------------------------------

$white		: #fff;
$black  	: #0b0b0b;
$grey   	: #797e83;
$highlight  : #ff8c00;

//----------------Text------------------------------------------
$base__font-size  : 16px;
$base__line       : 24px;
$letter-space	  : 1px;

//----------------------Grid------------------------------

$g-cont-max-w		: 1150px;

//-----------------Breakpoints--------------------------

$brkpoint-md		: 767px;
$brkpoint-lg		: 1024px;